.recent-post-item(style="height: auto;width: 100%")
    .bbTimeList.container#bbTimeList(style="height: auto;width: 100%")
        a(class="bber-gotobb fas fa-bullhorn" href="/"+path+"/" title="叨叨")
        #bbtalk.swiper
            .swiper-wrapper#bber-talk
        a(class="bber-gotobb fas fa-arrow-circle-right" href="/"+path+"/" title="查看全文")