#bber
  #ddloading(style='text-align: center;width: 100%;height: 100%;')
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve')
      path(fill='#efefef' d='M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3   c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z')
        animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='2s' from='0 50 50' to='360 50 50' repeatCount='indefinite')
      path(fill='#efefef' d='M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7   c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z')
        animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='-360 50 50' repeatCount='indefinite')
      path(fill='#efefef' d='M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5   L82,35.7z')
        animatetransform(attributeName='transform' attributeType='XML' type='rotate' dur='2s' from='0 50 50' to='360 50 50' repeatCount='indefinite')
  section.timeline.page-1
    #bbitems.list
  .dd-actions
    button.dd-bt.dd-login(type='button') 登录
    button.dd-bt.dd-create(type='button') 新建
  .popOutBg
  .popOut
    #ddloginbox.box
      span.logoff(title='关闭')  x 
      h2 登录
      form(action='/api/login' method='POST')
        .inputbox
          input#username(type='text' name='username' required='')
          label 用户名
        .inputbox
          input#password(type='password' name='password' required='')
          label 密码
        .loginfoot 
          input(type='submit' class='dd-bt' name='' value='确定')
  .createbox.popOut
    .createContent
    .createMain
      .Input_Box
        textarea.Input_text
    .dd-input-foot
      .dd-action-bar
        label.pic-upload(for='up')
          svg(style='width:17.5px;height:17.5px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
            path(d='M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 336H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v276a6 6 0 0 1-6 6zM128 152c-22.091 0-40 17.909-40 40s17.909 40 40 40 40-17.909 40-40-17.909-40-40-40zM96 352h320v-80l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L192 304l-39.515-39.515c-4.686-4.686-12.284-4.686-16.971 0L96 304v48z')
        input#up(type='file' style='display: none;' accept='image/*')
      button.dd-bt.dd-preview 预览
      button.dd-bt.dd-post 发布

script(data-pjax).
    var ddscripts = [];
    if(typeof marked !== "function")
    {
      ddscripts.push(getScript("https://cdn.jsdelivr.net/npm/marked/marked.min.js"));
    }
    if(typeof template !== "function") 
    {
      ddscripts.push(getScript("https://cdn.jsdelivr.net/npm/art-template@4.13.2/lib/template-web.min.js"));
    }
    if(typeof Daodao !== "function") 
    {
      ddscripts.push(getScript("#{dd_js}"));
    }
    Promise.all(ddscripts).then(function(){window.daodao = new Daodao("#{url}", 20);daodao.init(function(){if(window.location.href.indexOf('#')!=-1)window.location.href=window.location.href});})
  